src/main/resources/data/schemas/ReviewRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://localhost:8080/ReviewRequest"
    xmlns:r="http://localhost:8080/ReviewRequest">


    <xs:element name="reviewRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="paperId" type="xs:string"/>
                <xs:element name="reviewerUsername"  type="xs:string"/>
                <xs:element name="requestId" type="xs:string"></xs:element>
            </xs:sequence>
        </xs:complexType>        
    </xs:element>
</xs:schema>
